html {
    height: 100vh;
    width: 100vw;
}

body,
div#root,
div#app {
    /* font-size: 10px; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p,
a,
header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.col6 {
    display: flex;
    width: 50%;
}

nav {
    width: 100%;
    height: 50px;
    background: rgba(14, 66, 133, 0.9);
}

.logo-div {
    width: 40px;
    margin: 0 15px 0 0;
}

.logo-div>img {
    width: 100%;
}
.nav-item-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item-div>div,
.nav-div>.col6 {
    padding: 0 20px;
    color: rgb(255, 255, 255);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.nav-div {
    display: flex;
    position: fixed;
    top: 0px;   
}
.web-title{
    font-weight: bold;
}

.hero-div{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 50px;
}

.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.872);
}

.hero-subtitle {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.73);
}

.hero-title,
.hero-subtitle {
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

.hero-text {
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    width: 50%;
}

.big-search {
    width: 90%;
    border-radius: 5px 0 0 5px;
    background-color: #ecececd6;
}

.big-search-btn {
    width: 10%;
    border: 1px solid transparent;
    border-radius: 0 5px 5px 0;
    background-color: #dadada;
}
.big-search-btn > img{
    height: 15px;
    filter: opacity(0.5);
}

.big-search,
.big-search-btn {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
}
.display-flex{
    display: flex;
}
.big-searchbar{
    margin-top: 40px;
}
.box{
    font-size: 20px;
    text-align: center;
    height: 250px;
    display: flex;
    align-items: flex-end;
}
.linkname-div{
    width: 100%;
    height: 50px;
    background-color: rgba(14, 66, 133, 0.9);
    display: flex;
    justify-content: center;
    transition: all 200ms;
}
.linkname-text{
    line-height: 30px;
    color: white;
    display: block;
    align-self: center;
}
.box:hover > .linkname-div{
    height: 100%;
    transition: all 200ms;
}
.link1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/link1.png);
    background-size: cover;
    background-position: center bottom;
}
.link2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/link2.png);
    background-size: cover;
    background-position: center bottom;
}
.link3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/link3.jpg);
    background-size: cover;
    background-position: center bottom;
}
.link4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/link4.jpg);
    background-size: cover;
    background-position: center bottom;
    grid-column: span 2;
}
.link5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(/static/img/link5.jpg);
    background-size: cover;
    background-position: center;
}
.grid-container-quicklink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 4/5;
    padding: 40px;
    padding-bottom: 0;
    grid-gap: 10px;
}
.grid-container-paragraph1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 40px;

}
.paragraph-box{
    height: 500px;
    background-color: rgba(14, 66, 133, 0.9);
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1-image{
    background-image: url('/static/img/p1-img.jpg');
    background-position: center;
}
.param-title{
    font-size: 30px;
    color: white;
    display: block;
}
.param-subtitle{
    font-size: 20px;
    color: #265591;
    display: block;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    background-color: #ffffffb0;
    text-align: center;
    border-radius: 3px;
}
